@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  color: #2F495E;
}

section > h1 {
  font-weight: 800;
}